# Build files
.gradle
.kotlin
build

# IDE files
*.iml
.idea/*
!.idea/icon.svg
/captures

# Configuration files
local.properties

# macOS specific files
.DS_Store

# AM (SYNC_DRIVE) -->
/app/src/main/assets/client_secrets.json
# <-- AM (SYNC_DRIVE)
